{% extends "flashcards/includes/header.html.j2" %}

{% block body %}
<h1>Welcome to the Flashcards App</h1>

{% if categories %}
    <h2>Choose from below categories:</h2>
    <ul>
        {% for c in categories %}
        <li><a href="{{ url('detail', args=[c.id]) }}">{{c.name_primary}} - {{c.name_secondary}}</a></li>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %}